@use 'variables' as*;
@use 'sass:color';

.btn {
  display: inline-block;
  background-color: $accent-color;
  color: $primary-color;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;

  &:hover {
    background: color.adjust($accent-color, $lightness: 10%);
  }
}
